.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-size: 16px;
  font-weight: 300;
  margin-left: 5px;
}

.rightbarAdd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.onlineFriendsTitle {
  margin-bottom: 10px;
  color: gray;
}

/*ProfileRightbar css added*/
.rightbarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbarInfo {
  margin-bottom: 30px;
}

.rightInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-size: 16px;
  font-weight: 300;
  margin-right: 20px;
  color: #2a2d2e;
}

.rightbarInfoValue {
  font-size: 18px;
  font-weight: 400;
  color: #2a2d2e;
}

.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  cursor: pointer;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

/*If you want, U can cut the css and peast online.css*/
.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.rightbarProfileImageContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarOnline {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: limegreen;
  border: 2px solid white;
  position: absolute;
  top: -2px;
  right: -5px;
}
